.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}
.tile {
    overflow: hidden;
}
.fixed_height_320 {
    height: 320px;
}
@media (max-width: 1200px){
    .tile, .graph {
        zoom: 85%;
        height: inherit;
    }
}